.App {
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-bottom: 20px;
  padding: 50px;
}


.student-card{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.btn{
  display: flex;
  justify-content: space-between;
}

.add-student{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-bottom: 20px;
  padding: 50px;
}